* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: "Tiro Bangla", serif;
}

nav {
    padding: 5vw;
    margin: 5vw;
    text-align: end;
    border-bottom: 1px solid #212121;
}
nav a{
    margin: 5px;
    color: rgb(105, 105, 105);
    text-decoration: none;
    font-weight: 500;
}
nav a[state = "active"]{
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5vw;
    padding-bottom: 20vw;
}
form input, textarea {
    border: none;
    outline: none;
    margin-bottom: 15px;
    font-family: "Tiro Bangla", serif;
}
form textarea {
    resize: none;
    font-size: 15px;
    padding-right: 10px;
    margin-top: 10px;
    font-family: "Tiro Bangla", serif;
}
form textarea::placeholder {
    font-family: "Tiro Bangla", serif;
}
#contentAuthor {
    font-size: 18px;
}
#contentTitle {
    font-size: 20px;
    padding: 5px;
    padding-left: 0px;
    font-weight: bold;
}
#token {
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}
#postBtn {
    width: 90%;
    padding: 15px;
    position: fixed;
    box-sizing: border-box;
    bottom: 10px;
    border: 1px solid white;
    background-color: #212121;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}